.btn-signin {
    /*background-image: url(../../assets/btn_google_signin_light_normal_web.png);*/
    /*background-repeat: no-repeat;*/
    padding: 0px;
    border: none;
    background-color: transparent;
}
